:root {
    --primary-color: #d0293a;
    --primary-dark: #b01e2d;
    --secondary-color: #f6f5f4;
    --dark-color: #1e1517;
    --dark-gradient-start: #1e1517;
    --dark-gradient-end: #521c24;
    --text-color: #333;
    --light-text: #666;
    --white: #fff;
    --success-color: #43a46e;
    --border-color: #e5e5e5;
    --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --alt-primary-color: #db2a39; 
    --alt-secondary-color: #35aa38; 
    --dark-bg: #241719; 
    --light-bg: #f8f8f8; 
    --alt-border-color: #e0e0e0; 
    --text-light-alt: #666;
    --star-color: #ef952b; 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: var(--text-color);
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}